body{
    margin: 0px;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.button{
    color: white;
    border: 0px;
    font-weight: bolder;
    padding: 8px;
    border-radius: 8px;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.mainButton{
    background-color: rgb(240, 99, 99);
    
}

.mainButton:hover{
    box-shadow: 2px 3px rgb(228, 28, 28);
}

.secondaryButton{
    background-color: rgb(243, 103, 47);
}

.secondaryButton:hover{
    box-shadow: 2px 3px rgb(255, 72, 0);

}

.search{
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 4px;
}

.search:focus-within{
    border: 1.5px solid #000;
}

.search > input {
    border: 0px;
    outline: none;
}